body {
  margin: 0;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  font-size: 30px;
  text-align: center;
  line-height: 150px;
}

.box:hover {
  background-color: red;
  color: #fff;
}

.box-1:hover {
  background-color: yellow;
  color: #fff;
}
