h2 {
	text-align: center;
	margin-top: 48px;
}

div {
	height: 200px;
	width: 50%;
	max-width: 600px;
	margin: 32px auto;
	overflow-x: hidden;
	overflow-y: scroll;
}

.scroll {
	background: url("https://assets.codepen.io/2065/manja-vitolic-gKXKBY-C-Dk-unsplash_1.jpg");
	background-attachment: scroll;
}

.fixed {
	background: url("https://assets.codepen.io/2065/manja-vitolic-gKXKBY-C-Dk-unsplash_1.jpg");
	background-attachment: fixed;
}

.local {
	background: url("https://assets.codepen.io/2065/manja-vitolic-gKXKBY-C-Dk-unsplash_1.jpg");
	background-attachment: local;
}

.expand {
	height: 700px;
	width: 100%;
}

.extra-space {
	margin-bottom: 500px;
}
