* {
	box-sizing: border-box;
}
body {
	display: grid;
	place-items: center;
	margin: 0;
	height: 100vh;
}

.container {
	display: flex;
	gap: 1rem;
}

.game {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.board {
	width: 300px;
	height: 300px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	background-color: #222;
	gap: 4px;
	padding: 4px;
}

.cell {
	background-color: white;
	color: #000;
	font-size: 34px;
	display: grid;
	place-items: center;
	transition: 0.03s linear transform;
	user-select: none;
	cursor: pointer;
}
.cell:active {
	transform: scale(0.95);
}
