* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  padding: 0 144px;
}

.products .title {
  text-align: center;
}
.products .categories {
  margin: 24px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style-type: none;
}
.products .list {
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  /* gap: 24px; */
  list-style-type: none;
}

.products .list .product {
  background: red;
  width: calc(calc(100vw - 360px) / 4);
}
