:root {
	--size: 600px;
	--primary: #344861;
}

* {
	box-sizing: border-box;
	transition: 0.3s all linear;
}

body {
	margin: 0;
	height: 100vh;
	display: grid;
	place-items: center;
}

.sudoku {
	width: var(--size);
	height: var(--size);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: var(--primary);
	gap: 3px;
	padding: 3px;
}

.square {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0.5px;
}

.cell {
	display: grid;
	place-items: center;
	color: black;
	font-size: 25px;
	background-color: #fff;
}

.cell:hover {
	background-color: rgba(30, 143, 255, 0.533);
	cursor: pointer;
}
