@media (max-width: 1200px) {
	body {
		background-color: black;
	}
}

@media (max-width: 992px) {
	body {
		background-color: black;
	}
}

@media (max-width: 768px) {
	body {
		background-color: black;
	}
}

@media (max-width: 576px) {
	body {
		background-color: black;
	}
}
