* {
	box-sizing: border-box;
}

:root {
	--primary: #b528bc;
	--white: #fff;
}

body {
	margin: 0;
	height: 100vh;
	display: grid;
	place-items: center;
}

.boxes {
	width: 1200px;
	height: 700px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(2, 1fr);
	background-color: var(--primary);
	gap: 5px;
	padding: 5px;
	color: #fff;
	place-items: stretch;
}

.box {
	display: grid;
	place-items: center;
	background-color: #000;
}

.box:nth-child(2) {
	width: 200px;
	height: 200px;
	justify-self: center;
	place-self: center;
}
