body {
  margin: 0;
}

.container {
  padding-left: 100px;
  padding-right: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style-type: none;
}

.menu-item {
  margin-left: 30px;
}

.menu-item a {
  font-family: Karla;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: -0.4px;

  color: #1f1f1f;
  text-decoration: none;
}
