body {
  margin: 0;
}

.boxes {
  padding: 10px;
  border: 1px solid;
  width: max-content;
}

.box {
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
  font-size: 20px;
}

.row {
  display: flex;
  gap: 10px;
}

.box-4 {
  width: 210px;
}
.box-6 {
  width: 320px;
}

.boxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
