body {
	margin: 0;
	height: 100vh;
	display: grid;
	place-items: center;
}

.info {
	display: flex;
	gap: 0.5rem;
	margin: 0;
	list-style-type: none;
	padding: 0.5rem 0;
}

.info li {
	padding: 1rem;
	background-color: #efed40;
	font-size: 35px;
	font-weight: bold;
}
.question {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	background-color: #efed40;
}

.badge {
	font-size: 35px;
	padding: 1rem;
	background-color: blueviolet;
	color: #fff;
	border-radius: 5px;
}

.btn {
	width: 60px;
	height: 60px;
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	color: #000;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.success {
	color: #fff;
	background-color: #198754;
	border-color: #198754;
}

.danger {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.answers {
	margin: 1rem 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	align-items: center;
	gap: 1rem;
}
