* {
	box-sizing: border-box;
	user-select: none;
}
body {
	display: grid;
	height: 100vh;
	margin: 0;
	place-items: center;
}

.board {
	--level: 3;
	display: grid;
	width: 700px;
	height: 700px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 0.5rem;
	padding: 0.5rem;
	border-radius: 10px;
	position: relative;
}

.cell {
	background-color: #00ccff;
	border-radius: 10px;
	cursor: pointer;
	font-size: 40px;
	position: relative;
}

.cell::before,
.cell::after {
	content: "🎁";
	transition: 0.3s linear opacity;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #efed40;
	display: grid;
	place-items: center;
	font-size: 80px;
	border-radius: 10px;
	opacity: 0;
}

.cell::after {
	content: "❌";
	background-color: #000000;
}

.answer::before {
	animation: anime calc(var(--level) * 0.5s) linear 0.5s 1;
	animation-fill-mode: forwards;
}

.error::after {
	opacity: 1;
	font-size: 60px;
}

@keyframes anime {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes winner {
	0%,
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.active {
	pointer-events: none;
}
.active::before {
	opacity: 1 !important;
}

.failed::before {
	content: "😱 GAME OVER 😱";
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 50px;
	background-color: #ff0000c5;
	color: #fff;
	display: grid;
	place-items: center;
	z-index: 100;
	border-radius: 10px;
	animation: winner 0.5s linear 1;
	animation-fill-mode: forwards;
}
.winner::before {
	content: "😇🥳 WINNER 🥳😇";
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 50px;
	background-color: #28cd95;
	color: #fff;
	display: grid;
	place-items: center;
	z-index: 100;
	border-radius: 10px;
	opacity: 0;
	animation: winner 1.5s linear 1;
	animation-fill-mode: forwards;
}

.btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border: 1px solid transparent;

	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
	padding: 0.5rem 1rem;
	font-size: 26px;
}

.btn:focus {
	box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

.container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
}
