* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 45px 140px;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  gap: 48px;
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
  margin: 0;
  padding: 0;
}

.menu li a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -1px;
  color: #5e5d76;
  text-decoration: none;
}

.menu li a:hover {
  color: #7368fe;
}

.btn {
  background: #7368fe;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
}

.hero {
  padding: 45px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 810px;
}

.hero .info {
  width: 50%;
}

.hero .info .title {
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: 0.2px;
  margin: 0;
}

.hero .info .description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #5e5d76;
  margin: 30px 0;
}

.video {
  width: 500px;
  height: 400px;
  position: relative;
}

.border {
  width: 500px;
  height: 400px;
  border: 1px dashed #7368fe;
}

.video img {
  position: absolute;
  left: 45px;
  bottom: 45px;
  width: 500px;
  height: 400px;
}

.play {
  position: absolute;
  left: 295px;
  top: 155px;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}
