// @use "mixins";

// @include mixins.show(first, #efed40);

// @mixin setStyle($key, $value) {
// 	#{$key}: $value;
// }

// div {
// 	@include setStyle(font-family, Dank Mono);
// 	@include setStyle(color, #efed40);
// }

// @mixin displayNone($value) {
// 	#{$value} {
// 		display: none;
// 	}
// }

// @include displayNone(h1);
// @include displayNone(1);
// @include display(span);
// @include display(flex);
// @include display(grid);

// $num1: 200;
// $num2: 2;

// $num3: hello #{$num1}, hello #{$num2};

// .div-#{$num1} {
// 	background-color: red;
// }

ul {
	display: flex;
	flex-direction: column;
	align-items: center;
}
li {
	padding: 1rem;
	font-size: 40px;
	list-style-type: none;
	display: inline-block;
}

// @each $key, $value in $colors {
// 	.text-#{$key} {
// 		color: $value;
// 	}
// }

// @each $key, $value in $colors {
// 	.bg-#{$key} {
// 		background: $value;
// 	}
// }

$colors: (
	"error": #ee1515,
	// "success": #008000,
);

$object: (
	"bg": background,
	"text": color,
);

$key: "text";

$value: map-get($object, text);
@debug $value;

// @mixin loop($prefix) {
// 	$colorKey: error;
// 	$name: map-get($prefixes, $prefix);

// 	.bg-#{$colorKey} {
// 		#{$name}: map-get($colors, $colorKey);
// 	}

// 	// @each $key, $value in $colors {
// 	// 	.#{$prefix}-#{$key} {
// 	// 		#{$prop}: $value;
// 	// 	}
// 	// }
// }

// @include loop(bg);
// @include loop(text);
