* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  height: 100vh;
}

.boxes {
  width: 100%;
  border: 10px solid lightgray;
  background-color: #00ff0070;
  position: relative;
}

.box {
  width: 200px;
  height: 200px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--bg);
}

.box-2 {
  position: absolute;
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  /* left: 20px;
  top: 20px; */
  transition: 0.3s linear all;
}

.box-1 {
  position: relative;
  z-index: 1;
}
.box-1:hover {
  background-color: black;
  color: #fff;
}
.box-2:hover {
  display: none;
}
